@inherits LayoutComponentBase

<div class="d-flex min-vh-100 justify-content-center align-items-center">
    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<link rel="stylesheet" href="styles.css"/>
